:root {
    --lyf-color-white : #fff;
    --lyf-color-blue : #409eff;
    --lyf-bg-menuActiveColor : #000;
    --mxg-bg-menuHoverColor: #000;
}


.layout-container {
    .layout-header {
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        cursor: pointer;
        .layout-header-breadCurem {
            display: flex;
            align-items: center;
            .layout-header-breadCurem-icon {
                margin: 0 10px;
            }
            .layout-header-breadCurem-bread {
                display: flex;
            }
        }
    }
    .layout-aside {
        .logo {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 25px;
                height: 25px;
            }
            span {
                color: var(--lyf-color-blue);
                font-size: 14px;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .layout-aside-menu-200 {
        width: 200px !important;
        transition: all 0.3s ease !important;
    }
    .layout-aside-menu-60 {
        width: 60px !important;
        transition: all 0.3s ease !important;
    }
}

.el-menu {
    border-right: none;
}
.el-menu-item {
    background: transparent !important;
}
.el-menu-item.is-active {
    color: var(--lyf-color-white) !important;
    background: var(--lyf-bg-menuActiveColor) !important;
}
.el-menu-item:hover {
    color: var(--lyf-color-white) !important;
    background: var(--lyf-bg-menuActiveColor) !important;
}
.el-sub-menu__title {
    background: transparent !important;
}