:root {
    --lyf-color-white: #fff;
    --lyf-color-blue: #409eff;
    --lyf-bg-menuActiveColor: #000;
    --lyf-bg-menuHoverColor: #000;
    --lyf-border-color: #f1f2f3;
}


.layout-container {
    .layout-header {
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid #f1f2f3;
        cursor: pointer;

        .layout-header-breadCurem {
            display: flex;
            align-items: center;

            .layout-header-breadCurem-icon {
                margin: 0 10px;
            }

            .layout-header-breadCurem-bread {
                display: flex;
            }
        }

        .layout-header-userDropdown {
            display: flex;
            align-items: center !important;
            height: inherit;

            .layout-header-userDropdown-icon {
                padding: 0 10px;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: var(--lyf-border-color) !important;
                }
            }

            .layout-header-userDropdown-switch {
                padding: 0 10px;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: var(--lyf-border-color) !important;
                }
            }

            .el-dropdown-link {
                outline: 0;
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }
    }

    .layout-aside {
        border-right: 1px solid #f1f2f3;

        .logo {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 25px;
                height: 25px;
            }

            span {
                color: var(--lyf-color-blue);
                font-size: 14px;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .layout-aside-menu-200 {
        width: 200px !important;
        transition: all 0.3s ease !important;
    }

    .layout-aside-menu-60 {
        width: 60px !important;
        transition: all 0.3s ease !important;
    }

    .layout-main {
        overflow: hidden;
        padding: 0;

        .layout-main-wrap {
            padding: 20px !important;
            width: 100%;
            height: 100%;
        }
    }
}
.usian {
    width: 100%;
    height: 100%;
    border: 1px solid #f1f2f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .usian-img {
        width: 250px;
    }
    .usian-content {
        width: 500px;
        height: 200px;
        padding: 20px;
        border: 1px solid #f1f2f3;
        .usian-title {
            font-weight: bold;
            font-size: 25px;
        }
    }
}

.el-scrollbar__view {
    height: 100% !important;

    .error-container {
        width: 100%;
        height: 100%;
        border: 1px solid #f1f2f3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center !important;

        .error-container-img {
            width: 350px;
        }

        .error-container-textBox {
            width: 500px;
            text-align: left;
            margin-top: 20px;
            margin-left: 146px;
            .error-title {
                font-weight: bold;
                font-size: 25px;
            }
            .error-link {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
}

.el-menu {
    border-right: none;
}

.el-menu-item {
    background: transparent !important;
}

.el-menu-item.is-active {
    color: var(--lyf-color-white) !important;
    background: var(--lyf-bg-menuActiveColor) !important;
}

.el-menu-item:hover {
    color: var(--lyf-color-white) !important;
    background: var(--lyf-bg-menuActiveColor) !important;
}

.el-sub-menu__title {
    background: transparent !important;
}